@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<SubjectVm>

@{
    ViewData["Title"] = SharedLocalizer["Subjects"];
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input class="subjects-filter-input form-control" type="text" placeholder="filter" />
        </div>
    </div>
</div>

@if (User.IsInRole("Admin")) {
    <p>
        <a asp-action="AddOrEditSubject">@SharedLocalizer["Create New"]</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Name)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Description)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.TeacherName)
        </th>
        <th>
            <label>@Localizer["Groups Count"]</label>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody class="subjects-table-data">
        <partial name="_SubjectsTableDataPartial" model="Model" />
    </tbody>
</table>
