@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<SchoolRegister.ViewModels.VM.GroupVm>

@{
    ViewData["Title"] = SharedLocalizer["Groups"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="AddOrEditGroup">@SharedLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Id)
            </th>
            <th>
                @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(SharedLocalizer["Edit"].Value, "AddOrEditGroup", new { id = item.Id }) |
                @Html.ActionLink(SharedLocalizer["Details"].Value, "Details", new { id = item.Id }) |
                @Html.ActionLink(SharedLocalizer["Delete"].Value, "DeleteGroup", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
