@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<SchoolRegister.ViewModels.VM.StudentVm>

@{
    ViewData["Title"] = SharedLocalizer["Students"];
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.StudentName)
            </th>
            <th>
                @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.AverageGrade)
            </th>
            <th>
                @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Group.Name)
            </th>
            <th>
                @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Parent.ParentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.ParentName)
            </td>
            <td>
                @Html.ActionLink(SharedLocalizer["Details"].Value, "Details", new { id = item.Id }) |
                @Html.ActionLink(SharedLocalizer["Grades"].Value, "Index", "Grade", new { id = item.Id }) |
                @(item.Group is null
                    ? Html.ActionLink(Localizer["AttachStudent"].Value,
                    "AttachStudentToGroup",
                    "Group",
                    new {
                        studentId = item.Id
                    })
                    : Html.ActionLink(Localizer["DetachStudent"].Value,
                    "DetachStudentFromGroup",
                    "Group",
                    new {
                        studentId = item.Id
                    }))
            </td>
        </tr>
}
    </tbody>
</table>
